.side-drawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;

  @media (min-width: 500px) {
    display: none;
  }

  .navigation-item {
    .active {
      border-bottom: 4px solid #40a4c8;
      background-color: transparent;
    }
    a {
      color: black;
    }
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
